body{
  margin: 10% 10% 20% 10%;
  background-image: url('../../images/wallpaper2.png'); 
  background-repeat: no-repeat;        
  position: relative;  
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.box{
  margin: auto;
  width:50%;
  font-family:Helvetica;
  color:#fff;
  background:#2f2f33;
  padding:1% 0%;
  border-width: 1%;
  border-color: #303036;
  border-style: solid;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:60%;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
  text-align:center;

}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
input[type="submit"]{
  background:#ab67ab;
  display:block; 
  color:#fff;
  width:65%;
  margin:20px auto;
  padding:15px;
  font-size:20px;
  border:0;
  cursor:pointer;
}
input[type="submit"]:active{
  background:#5d4d7a;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}
.error{
  font-size: 22px;
  color:#5d4d7a;
  text-align: center;
}