body{
  margin: 12%;
  background-image: url('../../assets/img/wallpaper2.png'); 
  background-repeat: no-repeat;        
  position: relative;    

}
.box{
  margin-left:25%;
  height:100%;
  width:50%;
  font-family:Helvetica;
  color:#fff;
  background:#2f2f33;
  padding:50px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:60%;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
.box button{
  background:#ab67ab;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:60%;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box button:active{
  background:#5d4d7a;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}